<link rel="stylesheet" href="/styles.css">

<!--Header information-->
<!DOCTYPE html>
<html>
<head>
  <title><%= drink.strDrink %> - Cocktail Details</title>
</head>
<body>
  <div class="header">
    <h1>Cocktail Details</h1>
    <div class="navigation">
      <a href="/">Home</a>
      <a href="/random">Random</a>
    </div>
  </div>

<!--Sets up the details of the cocktail choosen after search-->
  <div class="container post-detail">
    <h2><%= drink.strDrink %></h2>
    <img src="<%= drink.strDrinkThumb %>" width="300">

<!--Grabs images & information about the cocktail -->
    <h3>Category:</h3>
    <p><%= drink.strCategory %></p>

    <h3>Glass:</h3>
    <p><%= drink.strGlass %></p>

    <h3>Instructions:</h3>
    <p><%= drink.strInstructions %></p>

<!--Gets instructions on how to make it-->
    <h3>Ingredients:</h3>
    <ul>

<!--loops through the ingredients and adds them in if they are used in recipe-->
      <% for (let i = 1; i <= 15; i++) { 
           let ingredient = drink['strIngredient' + i];
           let measure = drink['strMeasure' + i];
           if (ingredient) { %>
        <li><%= measure ? measure : '' %> <%= ingredient %></li>
      <% } } %>
    </ul>
  </div>

  <div class="footer">
    <h3>Supported by TheCocktailDB API</h3>
  </div>
</body>
</html>